<hr>
<footer>
    <i class="fa-brands fa-facebook"></i>
    <i class="fa-brands fa-square-twitter"></i>
    <i class="fa-brands fa-square-instagram"></i>
    <i class="fa-solid fa-envelope"></i>
    <p class="footerP">@2023 Dogpark. All rights reserved</p>

</footer>