<header>
    <div class="header">
        <div class="buttons">
             <a href="/dogpark/home" class="home"><strong>HOME</strong></a>
             <a href="/dogpark/new"><button class="btn">ADD</button></a>
             <a href="/dogpark/home"><img class="logo" src="https://img.freepik.com/free-vector/pet-logo-design-paw-vector-animal-shop-business_53876-136741.jpg?w=996&t=st=1678473159~exp=1678473759~hmac=312bca883ebaa6dd5e7d79fc5945ce9b3b61168bc21b7b247ca8cbf669ec07d5" alt=""></a>
        </div>

    </div>
</header>