<%- include('./partials/head.ejs')%>
<body class="loginBody">
    <div class="login">
    <h1 class="loginH1">DOG PARK CATALOG</h1>
    <div class="signinBtns">
    <a class="registerBtn" href="/users/register">Register</a>
    <a class="loginBtn" href="/users/signin">Login</a>
</div>
</div>
</body>
</html>