<%- include('./partials/head.ejs')%>
<body class="loginBody">
    <div class="login">
    <h1 class="loginH1">DOG PARK CATALOG</h1>
    <div class="signinBtns">
    <a href="/users/register"><button class="registerBtn">Register</button></a>
    <a href="/users/signin"><button class="loginBtn">Login</button></a>
</div>
</div>
</body>
</html>