<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>New Page</title>
    <link rel="stylesheet" href="../css/style.css">
</head>
<body>
    <h1>Add a new dog park</h1>
    <form action="/dogpark" method="POST">
        Name: <input type="text" name="name" id="name"><br>
        Image: <input type="text" name="image" id="image"><br>
        Address: <input type="text" name="address" id="address"><br>
        Phone Number: <input type="text" name="phoneNumber" id="phoneNumber"><br>
        Open Hours: <input type="text" name="hours" id="hours"><br>
        Rating: <input type="text" name="rating" id="rating"><br>
        Comments: <input type="text" name="comments" id="comments"><br>
        <input type="submit" value="submit">
    </form>
</body>
</html>