<%- include('./partials/head.ejs')%>
<%- include('./partials/newHeader.ejs')%>
<body>
    <div class="newSection">
    <h1 class="newH1">Add a new dog park</h1>
    <form action="/dogpark/home" method="POST">
       <label for="name"><strong>Name:</strong><br><input type="text" name="name" id="name"><br></label>  
       <label for="image"><strong>Image Link:</strong><br><input type="text" name="image" id="image"><br></label> 
       <label for="address"><strong>Address:</strong><br><input type="text" name="address" id="address"><br></label>  
       <label for="phoneNumber"><strong>Phone Number:</strong><br><input type="text" name="phoneNumber" id="phoneNumber"><br></label>   
       <label for="hours"><strong>Open Hours:</strong><br><input type="text" name="hours" id="hours"><br></label>  
       <label for="rating"><strong>Rating:</strong><br><input type="text" name="rating" id="rating"><br></label> 
       <label for="comments"><strong>Comments:</strong><br><input class="commentInput" type="text" name="comments" id="comments"><br></label> 
       <input class="submit" type="submit" value="SUBMIT"> 
    </form>
</div>
<%- include('./partials/newFooter.ejs')%>
</body>
</html>