<%- include('../partials/head.ejs')%>
<header>
    <div class="newHeader">
        <div class="buttons">
             <a href="/dogpark" class="home"><strong>HOME</strong></a>
             <a href="/dogpark/new"><button class="btn">ADD</button></a>
             <a href="/dogpark"><img class="logo" src="https://img.freepik.com/free-vector/pet-logo-design-paw-vector-animal-shop-business_53876-136741.jpg?w=996&t=st=1678473159~exp=1678473759~hmac=312bca883ebaa6dd5e7d79fc5945ce9b3b61168bc21b7b247ca8cbf669ec07d5" alt=""></a>
        </div>
        <!-- <h1 class="headerh1">DOG PARK CATALOG</h1> -->

    </div>
</header>
<body>
    <div class="newSection">
    <h1 class="newH1">Add a new dog park</h1>
    <form action="/dogpark" method="POST">
       <strong>Name:</strong>  <input type="text" name="name" id="name"><br>
       <strong>Image:</strong>  <input type="text" name="image" id="image"><br>
       <strong>Address:</strong>  <input type="text" name="address" id="address"><br>
       <strong>Phone Number:</strong>  <input type="text" name="phoneNumber" id="phoneNumber"><br>
       <strong>Open Hours:</strong>  <input type="text" name="hours" id="hours"><br>
      <strong>Rating:</strong> <input type="text" name="rating" id="rating"><br>
       <strong>Comments:</strong> <input type="text" name="comments" id="comments"><br>
        <input type="submit" value="submit">
    </form>
</div>
</body>
</html>